.App {
  background-color: #f5f5f7;
  border: 1px solid #e3e3e5;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'main main main main main main';
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.Header {
  grid-area: header;
}

.FormPage {
  grid-area: main;
  padding:2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
}

.BreadCrumbs {
  padding-left: 5%;
}
